div.footerDiageo
    .container
        .row.footerDiageo--logos.justify-content-center
            .col-12.col-lg-4
                img.img-fluid(src="img/logo-buchanans.png", alt="")
                img.img-fluid(src="https://oxxo-web-dev.s3.amazonaws.com/media-library/057c59913a994a412d86a6fed2358e15.png", alt="")
                img.img-fluid(src="img/logo-oxxo.png", alt="")
                

        .row
            .col-12
                h6 Oferta válida del 29 de abril al 02 de mayo del 2020. Aplican restricciones. Para mayor detalles consulta los términos y condiciones de la dinámica.