- titulo = "Oxxo - Sombrero botanero"

doctype
html(lang='es')

    include includes/head.pug

    body.home
        .proximamente
            .container
                .row
                    .col-12
                        img.img-fluid(alt src='https://oxxo-com.s3.amazonaws.com/media-library/b21256ecc2f9b33aee2b8a18c0fe3081.png')

                    .col-12
                        h1 
                            b ¡Espera la ruleta de cupones especiales
                                br 
                                | que la Feria de OXXO tiene para ti!

                        h3 Disponible el 12 de octubre
                        h5 Síguenos en redes sociales para enterarte de las mejores promociones:
                        p
                            a.icon-footer-font(href='https://www.facebook.com/OXXOTiendas' target='_blank')
                                i.fab.fa-facebook.fa-lg
                            |  
                            a.icon-footer-font(href='https://twitter.com/Tiendas_OXXO' target='_blank')
                                i.fab.fa-twitter.fa-lg
                            |  
                            a.icon-footer-font(href='https://www.instagram.com/tiendasoxxo/' target='_blank')
                                i.fab.fa-instagram.fa-lg
                            |  
                            a.icon-footer-font(href='https://www.youtube.com/user/tiendaoxxo' target='_blank')
                                i.fab.fa-youtube.fa-lg
