// COLOR

$color-secundario:#c9070f;

// FONTS

// $primaria-bold:'Titillium\ Web,sans-serif';
// $secundaria: 'Druk-Wide-Medium';
$primaria-light:"Titillium\ Web",sans-serif;

$secundaria: "Titillium\ Web",sans-serif;
